<nav class="px-4 top-0 w-full pt-6 fixed z-50">
    <div class="flex justify-between h-16">
        <a href="{{ url_for('dashboard.index') }}" class="text-white font-bold text-lg">MUKESH PRAJAPATI</a>
        <!-- <a href="{{ url_for('dashboard.index') }}">
            <img src="{{url_for('static', filename='images/fav.png')}}" alt="Logo" class="w-20 h-10">
        </a> -->
        <div>
            <button
                class="bg-white text-black px-4 py-2 rounded-full w-32 font-bold flex justify-between">
                Menu 
                <span class="font-normal"><></span>
            </button>
        </div>
    </div>
</nav>