<nav class="px-4 top-0 w-full pt-2 fixed z-50 pointer-events-none">
    
    <div class="flex justify-between items-center h-16 pointer-events-auto">
        
        <a href="{{ url_for('dashboard.index') }}" class="text-white font-bold text-base sm:text-lg md:text-xl tracking-wide hover:text-green-400 transition-colors">
            MUKESH PRAJAPATI
        </a>
        
        <div>
            <button
                class="bg-white text-black px-4 sm:px-5 py-2 sm:py-2.5 rounded-full w-auto gap-12 text-sm sm:text-base font-bold flex justify-between items-center hover:bg-green-400 hover:scale-105 transition-all duration-300 group">
                Menu 
                <span class="font-normal text-gray-500 group-hover:text-black transition-colors text-sm flex items-center gap-0">
                    <i class="fa-solid fa-chevron-left"></i>
                    <i class="fa-solid fa-chevron-right"></i>
                </span>
            </button>
        </div>
    </div>
</nav>