<section
    class="bg-[radial-gradient(circle,_#8fccad_0%,_#2d3832_40%,_#000000_60%,_#000000_100%)] w-full pt-24 lg:pt-32 pb-10 px-6 md:px-12 lg:px-24 font-bold flex flex-col items-center justify-center overflow-hidden">
    
    <h4 data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out"
        class="text-4xl sm:text-5xl md:text-6xl lg:text-[5rem] uppercase w-full max-w-5xl text-center flex flex-col space-y-4 lg:space-y-2 mb-12 lg:mb-16 leading-tight">
        <span>Ready to take your</span>
        <span class="flex flex-col sm:flex-row justify-center items-center gap-4 lg:-my-5">
            <span>idea to</span>
            <a href="#"
                class="bg-[#7af298] text-black text-xs sm:text-sm w-24 h-24 sm:w-28 sm:h-28 lg:w-[8rem] lg:h-[8rem] shrink-0 inline-flex text-center justify-center items-center rounded-full font-bold capitalize hover:scale-105 transition-transform duration-300">
                Start<br>Project
            </a>
        </span>
        <span>the next level?</span>
    </h4>

    <div class="flex justify-center items-center font-bold text-[10px] text-[#7af298] w-full mt-4 lg:mt-0">
        <i class="fa-solid fa-less-than"></i> <i class="fa-solid fa-slash rotate-90"></i>
        <hr class="w-full h-0.5 bg-gray-800 border-gray-800 mx-2"> <i class="fa-solid fa-greater-than"></i>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-10 lg:gap-4 mt-12 lg:mt-16 w-full uppercase text-center sm:text-left">
        <div class="flex flex-col gap-4">
            <span class="text-green-300 capitalize mb-2">Quick Links</span>
            <a href="{{ url_for('dashboard.index') }}" class="hover:text-green-400 transition-colors">
                <span>Home</span>
            </a>
            <a href="pages/about.html" class="hover:text-green-400 transition-colors">
                <span>About</span>
            </a>
            <a href="pages/works.html" class="hover:text-green-400 transition-colors">
                <span>Works</span>
            </a>
            <a href="pages/blogs.html" class="hover:text-green-400 transition-colors">
                <span>Blogs</span>
            </a>
            <a href="pages/contact.html" class="hover:text-green-400 transition-colors">
                <span>Contact</span>
            </a>
        </div>
        <div class="flex flex-col gap-4">
            <span class="text-green-300 capitalize mb-2">Portfolio</span>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Contra</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Github</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Codepen</span></a>
        </div>
        <div class="flex flex-col gap-4">
            <span class="text-green-300 capitalize mb-2">Social Links</span>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Instagram</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>LinkedIn</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Twitter "X"</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>WhatsApp</span></a>
            <a href="#" class="hover:text-green-400 transition-colors"><span>Email</span></a>
        </div>
    </div>

    <div class="flex flex-col mt-16 w-full text-lg md:text-xl gap-4 text-center sm:text-left">
        <span class="text-green-300 capitalize flex flex-col sm:block">
            Email: <a href="mailto:mukeshp1639@gmail.com" class="text-white underline underline-offset-4 sm:underline-offset-6 hover:text-green-400">mukeshp1639@gmail.com</a>
        </span>
        <span class="text-green-300 capitalize flex flex-col sm:block mt-4 md:mt-0">
            Phone: <a href="tel:+919876543210" class="text-white underline underline-offset-4 sm:underline-offset-6 hover:text-green-400">+91 9876543210</a>
        </span>
    </div>

    <div class="flex justify-center items-center font-bold text-[10px] text-[#7af298] w-full mt-12">
        <hr class="w-full h-[1px] bg-gray-800 border-none">
    </div>

    <div class="flex justify-center items-center font-normal text-xs sm:text-sm text-gray-400 w-full mt-8 text-center">
        <span>Designed and Developed by <span class="text-[#7af298]">Mukesh Prajapati</span></span>
    </div>

</section>