<section class="bg-[radial-gradient(circle_at_top,_#1A241E_5%,_#111111_60%,_#000000_100%)] px-24 pt-20">
    <div class="container mx-auto px-4 py-12">
        <h1 data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" class="font-bold mb-8 text-green-400">// Skills</h1>
        <div class="flex w-full gap-24 mb-16">
            <div data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000" class="flex items-center justify-between gap-12 mb-12 w-3/5">
                <div class="border-b border-gray-600 pb-3 pr-3 w-full">
                    <h1 class="text-5xl font-bold">2+</h1>
                    <p class="text-green-400">Years of Experience</p>
                </div>
                <div class="border-b border-gray-600 pb-3 pr-3 w-full">
                    <h1 class="text-5xl font-bold">6+</h1>
                    <p class="text-green-400">Completed Projects</p>
                </div>
            </div>
            <div data-aos="fade-left" data-aos-delay="200" data-aos-duration="1000" class="w-full">
                <p class="text-lg text-gray-400">
                    I thrive on solving real-world problems, turning ideas into clean, maintainable code, and learning
                    through experimentation. You’ll find me building side projects, diving into new tech stacks, or
                    simply exploring what’s next in the world of web development.
                </p>
                <a href="{{ url_for('static', filename='resume/resume.pdf') }}" target="_blank">
                    <button class="bg-green-400 text-black font-bold py-2 px-4 rounded hover:bg-green-500 mt-8">
                        My Resume
                    </button>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-10 gap-4">
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="100"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/HTML5.png')}}" alt="HTML5"
                    class="w-16 h-16 mb-4">
                <span class="text-center">HTML5</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="200"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/CSS3.png')}}" alt="CSS3"
                    class="w-16 h-16 mb-4">
                <span class="text-center">CSS3</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="300"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/JavaScript.png')}}" alt="JavaScript"
                    class="w-16 h-16 mb-4">
                <span class="text-center">JavaScript</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="400"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Tailwind CSS.png')}}" alt="Tailwind CSS"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Tailwind CSS</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="500"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Bootstrap.png')}}" alt="Bootstrap"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Bootstrap</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="600"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Material UI.png')}}" alt="Material UI"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Material UI</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="700"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/React.png')}}" alt="React"
                    class="w-16 h-16 mb-4">
                <span class="text-center">React</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="800"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Vite.png')}}" alt="Vite"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Vite</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="900"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/python.png')}}" alt="Python"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Python</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1000"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Flask.png')}}" alt="Flask"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Flask</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1100"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/restAPI.png')}}" alt="REST API"
                    class="w-16 h-16 mb-4">
                <span class="text-center">REST API</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1200"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/C.png')}}" alt="C" class="w-16 h-16 mb-4">
                <span class="text-center">C</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1300"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/cpp.png')}}" alt="C++" class="w-16 h-16 mb-4">
                <span class="text-center">C++</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1400"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Java.png')}}" alt="Java"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Java</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1500"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Django.png')}}" alt="Django"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Django</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1600"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/FastAPI.png')}}" alt="FastAPI"
                    class="w-16 h-16 mb-4">
                <span class="text-center">FastAPI</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1700"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/MySql.png')}}" alt="MySQL"
                    class="w-16 h-16 mb-4">
                <span class="text-center">MySQL</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1800"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/PostgresSQL.png')}}" alt="PostgresSQL"
                    class="w-16 h-16 mb-4">
                <span class="text-center">PostgresSQL</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="1900"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/MongoDB.png')}}" alt="MongoDB"
                    class="w-16 h-16 mb-4">
                <span class="text-center">MongoDB</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2000"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/SQLAlchemy.png')}}" alt="SQLAlchemy"
                    class="w-16 h-16 mb-4">
                <span class="text-center">SQLAlchemy</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2100"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/SQLite.png')}}" alt="SQLite"
                    class="w-16 h-16 mb-4">
                <span class="text-center">SQLite</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2200"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/NGINX.png')}}" alt="NGINX"
                    class="w-16 h-16 mb-4">
                <span class="text-center">NGINX</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2300"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/AWS.png')}}" alt="AWS" class="w-16 h-16 mb-4">
                <span class="text-center">AWS</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2400"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Digital Ocean.png')}}" alt="DigitalOcean"
                    class="w-16 h-16 mb-4">
                <span class="text-center">DigitalOcean</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2500"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Hostinger.png')}}" alt="Hostinger"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Hostinger</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2600"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Git.png')}}" alt="Git" class="w-16 h-16 mb-4">
                <span class="text-center">Git</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2700"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/GitHub.png')}}" alt="GitHub"
                    class="w-16 h-16 mb-4">
                <span class="text-center">GitHub</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2800"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Linux.png')}}" alt="Linux"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Linux</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="2900"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Postman.png')}}" alt="Postman"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Postman</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3000"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Figma.png')}}" alt="Figma"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Figma</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3100"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Canva.png')}}" alt="Canva"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Canva</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3200"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/NumPy.png')}}" alt="NumPy"
                    class="w-16 h-16 mb-4">
                <span class="text-center">NumPy</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3300"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Pandas.png')}}" alt="Pandas"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Pandas</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3400"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Matplotlib.png')}}" alt="Matplotlib"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Matplotlib</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3500"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/seaborn.png')}}" alt="Seaborn"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Seaborn</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3600"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/LangChain.png')}}" alt="LangChain"
                    class="w-16 h-16 mb-4">
                <span class="text-center">LangChain</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3700"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/scikit-learn.png')}}" alt="scikit-learn"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Scikit-Learn</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3800"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/OpenCV.png')}}" alt="OpenCV"
                    class="w-16 h-16 mb-4">
                <span class="text-center">OpenCV</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="3900"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/NPM.png')}}" alt="NPM" class="w-16 h-16 mb-4">
                <span class="text-center">NPM</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4000"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/JSON.png')}}" alt="JSON"
                    class="w-16 h-16 mb-4">
                <span class="text-center">JSON</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4100"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Docker.png')}}" alt="Docker"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Docker</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4200"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Jupyter.png')}}" alt="Jupyter Notebook"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Jupyter Notebook</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4300"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Oracle.png')}}" alt="Oracle"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Oracle</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4400"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/PyTorch.png')}}" alt="PyTorch"
                    class="w-16 h-16 mb-4">
                <span class="text-center">PyTorch</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4500"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Vercel.png')}}" alt="Vercel"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Vercel</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4600"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Streamlit.png')}}" alt="Streamlit"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Streamlit</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4700"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Arduino.png')}}" alt="Arduino"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Arduino</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4800"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/Anaconda.png')}}" alt="Anaconda"
                    class="w-16 h-16 mb-4">
                <span class="text-center">Anaconda</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="4900"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/PyCharm.png')}}" alt="PyCharm"
                    class="w-16 h-16 mb-4">
                <span class="text-center">PyCharm</span>
            </div>
            <div data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="5000"
                class="bg-[#1A241E] p-4 rounded-lg shadow-md flex flex-col items-center justify-center hover:outline-2 hover:outline-green-400">
                <img src="{{url_for('static', filename='programming icons/VScode.png')}}" alt="VScode"
                    class="w-16 h-16 mb-4">
                <span class="text-center">VScode</span>
            </div>
        </div>
    </div>
</section>